.kard {
  background-color: #fff;
  border-radius: 4px;
  width: 16rem;
  /* margin: auto; */
  /* margin-right:auto; */
  /* margin-left: auto; */
}

.cardb {
  border-top: 1px solid #1c1e21;
}
.cardbh4 {
  font-size: 140%;
}
.vector {
  /* width: 27.82px;
  height: 25.42px; */
  background: #ff5c35;
  color: #fff;
  border-radius: 52.8964px;
}
.Button{
  color: #ff5c35;
}

