.header{
    position:sticky;
    top:0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}
.container-fluid{
    padding: 3% 8% 3%;
}
.logo{
    object-fit: contain;
}
.btn-primary:hover{
    color:#2E475D !important;
    background-color: #fff;
    border: 1px solid #2E475D;
}
.btn-outline-primary:hover{
    color:#2E475D !important;
    background-color: #fff;
    border: 1px solid #2E475D;
}

@media (max-width:1028px) {
    .header{
        padding-bottom: 20px;
    }
    .header__btn{
        margin-top: 15px;
    }
}