.cardrow{
    background-color: #F6F9FC;
    color: #2E475D;
    /* position: relative; */
    /* align-items: center; */
    /* justify-content:space-around; */
    text-align:start;
}
.cardrowpad{
    padding-left: 8%;
}

@media (max-width:1028px) {
    .cardrowpad{
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
    }    
}