.cont-fluid{
    padding: 0% 7%;
}
.prehead{
    display: flex;
    text-align: center;
    justify-content:space-between;
}

.prehead__left{
    display: flex;
    text-align: center;
    }

.prehead__right{
    display: flex;
    text-align: center;
    }

a:link{
    color:#2E475D !important;
    text-decoration: none;
}
a:visited{
    color:#2E475D !important;
    text-decoration: none;
    
}
a:hover{
    color:#FF5C35 !important;
}

@media (max-width:1028px){
    .preheader{
        display: none;
    }
}