.section3{
    background-color: #0B8484;
    color:#fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.sec3headbox{
    width: 400px;
    margin: auto;
}
.sec3h3{
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;

}
.paragraphbox{
    margin: auto;
    width:700px ;
    margin-bottom: 50px;
}
.tablechild{
    width: 250px;
}
.sec3table{
    display: flex;
    justify-content: center;
}
.toptab{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.btmborder{
    border-bottom:1px solid #fff;
}
.downtab{
    border-right: 1px solid #fff;

}
.tbimg{
    width : 90px
}
.tch2{
    font-weight: 600;
}
@media (max-width:1028px) {
    .toptab{
        border: none;
    }
    .downtab{
        border-right: none;
    }
    .sec3headbox{
        width: auto;
    }
    .paragraphbox{
        width: auto;
    }
    
}